

p {
  
}

#si {
  background-color: red;
}

#re {
  background-color: black;
}

#na {
  background-color: blue;
}

div {}

#uno {
 
  background-color: yellow;
}

#dos {
 
  background-color: yellow;
}

#tres {
 
  background-color:yellow;
}

#cuatro {
 
  background-color: yellow;
}